<!DOCTYPE html>
<html>
<head>
<title>About Page</title>
</head>
<body>
<ul>
<p>This is the about page</p>
</ul>
</body>
</html>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>
